@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Semi-Bold';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}


body {
  --dark-gray:        #323232;
  --gray:             #C9C9C9;
  --emerald-gradient: linear-gradient(91.83deg, #93E08C -1.93%, #78CEBF 97.03%);
  --light-green:      #93E08C;
  --accent-link:      #479C3F;

  --font-form-label:    12px;
  --font-section-text:  14px;
  --font-button-text:   15px;
  --font-subtitle:      16px;
  --font-section-title: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
