.gallery-controls__control--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-controls__control--center .gallery-control-step:not(:last-child) {
  margin-right: 12px;
}

.gallery-controls__control--left,
.gallery-controls__control--right {
  width: 32px;
  height: 32px;

  background-color: var(--gray);
}

.gallery-controls__control--left {
  margin-right: auto;

  mask-image: url('../../assets/images/slider-left.svg');
}

.gallery-controls__control--right {
  margin-left: auto;

  mask-image: url('../../assets/images/slider-right.svg');
}

.gallery-controls__control--left:hover,
.gallery-controls__control--right:hover{
  background: var(--emerald-gradient);

  cursor: url('../../assets/images/cursor-pointer.svg'), pointer;
}
