input.form-control {
  border-radius: 0;
  transition: none;

  &:focus {
    border-image-slice: 1;
    border-image-source: var(--emerald-gradient);

    outline: none;
    box-shadow: none;
    border-color: transparent;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('../../assets/images/calendar-icon.svg');
}
