.gallery {
  margin-bottom: 50px;
}

.gallery__title {
  margin-bottom: 24px;

  font-family: 'Montserrat Semi-Bold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-page-title);
  line-height: 39px;
  color: var(--dark-gray);
}

.gallery__images {
  margin-bottom: 24px;
}
