.gallery {
  margin-bottom: 50px;

  &__title {
    margin-bottom: var(--bottom-indent);

    font-family: 'Montserrat Semi-Bold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-page-title);
    line-height: 39px;
    color: var(--dark-gray);
  }

  &__images {
    margin-bottom: var(--bottom-indent);
  }
}

@media (max-width: 767px) {
  .gallery {
    margin-bottom: 25px;

    &__images {
      overflow: scroll;
      scroll-snap-type: x mandatory;
      margin-bottom: 0;

      .row {
        flex-wrap: nowrap;
      }

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background-color: transparent;
      }
    }
  }
}

