.about-us {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 12px;

    font-family: 'Montserrat Semi-Bold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-section-title);
    line-height: 29px;
    color: var(--dark-gray);
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-section-text);
    line-height: 20px;
    color: var(--black);

    p:not(:last-child) {
      margin-bottom: 12px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .about-us {
    margin-bottom: 20px;

    .col-md-6:first-child {
      margin-bottom: 12px;
    }
  }
}

